@font-face {
    font-family:'Windsor';
    src: url('../fonts/WindsorBT-Light_gdi.eot');
    src: url('../fonts/WindsorBT-Light_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WindsorBT-Light_gdi.woff') format('woff'),
        url('../fonts/WindsorBT-Light_gdi.ttf') format('truetype'),
        url('../fonts/WindsorBT-Light_gdi.svg#WindsorBT-Light') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Franklin Gothic';
    src: url('../fonts/FranklinGothic-Medium_gdi.eot');
    src: url('../fonts/FranklinGothic-Medium_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FranklinGothic-Medium_gdi.woff') format('woff'),
        url('../fonts/FranklinGothic-Medium_gdi.ttf') format('truetype'),
        url('../fonts/FranklinGothic-Medium_gdi.svg#FranklinGothic-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Franklin Gothic Book';
    src: url('../fonts/FranklinGothic-Book_gdi.eot');
    src: url('../fonts/FranklinGothic-Book_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FranklinGothic-Book_gdi.woff') format('woff'),
        url('../fonts/FranklinGothic-Book_gdi.ttf') format('truetype'),
        url('../fonts/FranklinGothic-Book_gdi.svg#FranklinGothic-Book') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'ACaslonPro';
    src: url('../fonts/ACaslonPro-SemiboldItalic_gdi.eot');
    src: url('../fonts/ACaslonPro-SemiboldItalic_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ACaslonPro-SemiboldItalic_gdi.woff') format('woff'),
        url('../fonts/ACaslonPro-SemiboldItalic_gdi.ttf') format('truetype'),
        url('../fonts/ACaslonPro-SemiboldItalic_gdi.svg#ACaslonPro-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family:'ACaslonPro';
    src: url('../fonts/ACaslonPro-Italic_gdi.eot');
    src: url('../fonts/ACaslonPro-Italic_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ACaslonPro-Italic_gdi.woff') format('woff'),
        url('../fonts/ACaslonPro-Italic_gdi.ttf') format('truetype'),
        url('../fonts/ACaslonPro-Italic_gdi.svg#ACaslonPro-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}