
/* ==========================================================================
   Layout
   ========================================================================== */
$space: 30px;
$spaceLeft: 20px;
$maxWidth: 1192px;
$blogWidth: 833px;

$gutter: 30px;
$gutter2: 50px;

/* ==========================================================================
   Colors
   ========================================================================== */

$black: #333;
$green: #047D5F;
$green2: #F1F6E7;
$gold: #BC9B6A;
$grey: #989A99;



$lightGrey: #AAAAAA;
$lighterGrey: #F9F9F9;
$border: #F1F6E7;

// CCB685
